*{
    box-sizing:border-box;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 4em;
    font-family: monospace;
}

ul,li{
    list-style: none;
    padding:0;
    margin: 10px;
}

.grid-wrap{
    position: relative;
    margin: 0;
    padding: 10px;
}

.grid-wrap ul{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    grid-auto-flow:dense;
    grid-gap:2px;
    justify-content: center;
    margin: 0 auto;
    padding:0;
}

.grid-wrap ul li{
    position: relative;
}

.grid-wrap ul li:nth-child(1){
    grid-row:span 2;
    grid-column: span 4;
}

.grid-wrap ul li:nth-child(2){
    grid-row:span 2;
    grid-column: span 4;
}

.grid-wrap ul li:nth-child(3){
    grid-row:span 2;
    grid-column: span 5;
}

.grid-wrap ul li:nth-child(4){
    grid-row:span 2;
    grid-column: span 6;
}

.grid-wrap ul li:nth-child(5){
    grid-row:span 2;
    grid-column: span 3;
}

.grid-wrap ul li:nth-child(6){
    grid-row:span 3;
    grid-column: span 4;
}

.grid-wrap ul li:nth-child(7){
    grid-row:span 2;
    grid-column: span 4;
}

.grid-wrap ul li:nth-child(8){
    grid-row:span 2;
    grid-column: span 5;
}

.grid-wrap ul li:nth-child(9){
    grid-row:span 3;
    grid-column: span 4;
}

.grid-wrap ul li:nth-child(10){
    grid-row:span 2;
    grid-column: span 5;
}

.grid-wrap ul li:nth-child(11){
    grid-row:span 2;
    grid-column: span 4;
}

.grid-wrap ul img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-wrap ul li:hover{
   filter:opacity(0.8);
   transition: .2s;
   cursor: pointer;
}