* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #0f0f0f;
    margin: 20px 0;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
}

.left,
.right {
    flex: 1;
}

p {
    text-align: justify;
    line-height: 1.6;
    font-size: 16px;
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    display: block;
    transition: all 0.3s ease;
}

img:hover{
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }

    img {
        max-width: 100%;
    }
}